* {
/*    margin: 0;*/
    padding: 0;
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 18pt;
    margin: 0;
}

#container {
    min-height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

#main {
    overflow: auto;
    padding-bottom: 7em;
}

#footer {
    background-color: #F0F0F0;
    position: relative;
    height: 7em;
    margin-top: -7em;
    clear: both;
    padding: 1em;
}

#footer h2 {
    margin-top: -0.49em;
}

#footer p {
    margin-top: 0.53em;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

p {
    line-height: 1.4em;
}

img {
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    float: left;
    margin-right: 1.5em;
}

.annotation {
    font-size: 12pt;
    color: #707070;
    text-align: center;
}

.selected a {
    color: #7F7F7F;
}

.headline {
    font-size: 4.2em;
}

.date {
    color: #939393;
    font-size: 17pt;
}

#menu {
    height: 1.5em;
    font-size: 15pt;
    margin-bottom: 0.2em;
    margin-top: 1.2em;
}

.wideContent {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
}

.narrowContent {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
}


.bodyText {
    max-width: 36em;
}


.date {
    color: #939393;
    font-size: 17pt;
}

@media only screen and (max-width: 481px) {
    .headline {
        font-size: 3.1em;
    }
    
    li {
        margin-right: 0.8em;
        font-size: 15pt;
    }
}

@font-face {
    font-family: ‘souvenir-medium’;
       src: url('https://raw.githubusercontent.com/lsvennbeck/portfolio/gh-pages/imgs/souvenir-medium.woff');
  }

h1, h2, h3, h4, h5, h6 { font-family: "souvenir-medium"  !important; }
